<!DOCTYPE html>
<html lang="pt-BR">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{{ titulo_pagina }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="cadastro_usuario">
        <div class="logo-header">
            <img src="{% static 'images/insumed_icon.png' %}" alt="insumed_icon">
            <h1 class="insumed">INSUMED</h1>
        </div>
        
    </header>

    <div class="form-container">
        <div class="titulo">{{ titulo_pagina }}</div>

        <form method="post">
            {% csrf_token %}
            <div class="form-grid">
                {% for field in form %}
                    <p>
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            <span style="color: red;">{{ field.errors.0 }}</span>
                        {% endif %}
                    </p>
                {% endfor %}
            </div>

            <div class="botoes">
                <button type="submit" class="btn-salvar">Cadastrar</button>
                <a href="{% url 'home' %}" class="btn-cancelar">Cancelar</a>
            </div>
        </form>
    </div>

    <footer>
        <div>
            <p>Redes Sociais</p>
            <ul class="social-media">
                <li><a href="https://wa.me/5535997548034" target="_blank"><img src="{% static 'images/whatsapp.svg' %}" alt="WhatsApp"></a></li>
                <li><a href="https://instagram.com/insumed" target="_blank"><img src="{% static 'images/instagram.svg' %}" alt="Instagram"></a></li>
                <li><a href="https://facebook.com/insumed" target="_blank"><img src="{% static 'images/facebook.svg' %}" alt="Facebook"></a></li>
            </ul>
        </div>
        <p>Todos os direitos reservados &copy; <br> Develop By: Bessa, Cristiane, Eduardo, Leonardo, Lucas.</p>
        <p>Telefone - (35) 99877-8346</p>

        <ul class="contact">
            <li><a href="{% url 'sobre_nos' %}">Sobre nós</a></li>
            <li><a href="{% url 'criar_suporte' %}">Contato</a></li>
        </ul>
    </footer>

</body>
</html>

