{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>
        {% if titulo_pagina %}
            {{ titulo_pagina }} | INSUMED
        {% else %}
            INSUMED
        {% endif %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'images/insumed_icon.png' %}" alt="insumed_icon">
        <h1>INSUMED</h1>

        <nav>
            <ul>
                <li><a  href="/">Home</a></li>
                <li><a href="{% url 'fornecedores' %}">Cadastros</a></li>
                <li><a href="{% url 'emitir_orcamento' %}">Orçamentos</a></li>
                <li><a href="#">Relatórios</a></li>
                <li><a href="#">Sair</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div>
            <p>Redes Sociais</p>
            <ul class= "social-media">
                <li><a href="#">WhatsApp</a></li>
                <li><a href="#">Instragam</a></li>
                <li><a href="#">Facebook</a></li>
            </ul>
        </div>
        <p>Todos os direitos reservados &copy; <br> Develop By: Bessa, Cristiane, Eduardo, Leonardo, Lucas.</p>
        <p>Telefone - (35) 99877-8346</p>

        <ul class = "contact">
            <li><a href="#">Sobre nós</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </footer>
</body>
</html>
