{% extends 'base.html' %}

{% block content %}
<div class="form-container">
    <h2 class="titulo">Cadastro de Fornecedor</h2>

    <form method="post" action="{% url 'salvar_fornecedor' %}">
        {% csrf_token %}
        <div class="form-grid">
            {{ form.as_p }}
        </div>

        <div class="botoes">
            <button type="submit" class="btn-salvar">Salvar</button>
            <a href="{% url 'lista_fornecedores' %}" class="btn-cancelar">Cancelar</a>
            <a href="{% url 'cadastrar_produto' %}" class="btn-cadastrar-produto">➕ Cadastrar Produto</a>
            <a href="{% url 'clientes' %}" class="btn-cadastrar-produto">➕ Cadastrar Cliente</a>
        </div>
    </form>
</div>
{% endblock %}
