{% extends 'base.html' %}

{% block content %}
<div class="lista-container">


    <ul class="lista">
        {% for f in fornecedores %}
            <li>
                {{ f.nome }} - {{ f.email }}
                <a href="{% url 'editar_fornecedor' f.id %}" class="btn-editar">Editar</a>
            </li>
        {% empty %}
            <li>Nenhum fornecedor cadastrado.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'fornecedores' %}" class="btn-salvar">Novo Fornecedor</a>
</div>
{% endblock %}
