{% extends 'base.html' %}

{% block content %}
<div class="lista-container">
    <h2 class="titulo">Clientes Cadastrados</h2>

    <ul class="lista">
        {% for f in clientes %}
            <li>
                <div style="margin-left: 5px;">{{ f.nome }} - {{ f.email }}</div>
                <div><a href="{% url 'editar_cliente' f.id %}" class="btn-editar">Editar</a></div>
            </li>
        {% empty %}
            <li>Nenhum cliente cadastrado.</li>
        {% endfor %}
    </ul>

    <div style="display: flex; gap: 10px; justify-content: center;">
        <a href="{% url 'clientes' %}" class="btn-salvar">Novo Cliente</a>
        <a href="{% url 'clientes' %}" class="btn-voltar">Voltar</a>
    </div>
</div>
{% endblock %}
