{% extends 'base.html' %}
{% load static %}

{% block titulo_pagina %}Nova Senha{% endblock titulo_pagina %}

{% block content %}
<div class="login-container">
    <div class="login-side">
        <img src="{% static 'images/logo_insumed.png' %}" alt="Logo Insumed" class="logo-side">
    </div>

    <div class="login-box">
        <h1>Nova Senha</h1>
        <p>Digite sua nova senha</p>
        
        <form method="post">
            {% csrf_token %}
            
            <div class="form-group">
                {{ form.nova_senha }}
                {% if form.nova_senha.errors %}
                  <div class="error">
                    {% for erro in form.nova_senha.errors %}
                      <div>{{ erro }}</div>
                    {% endfor %}
                  </div>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.confirmar_senha }}
                {% if form.confirmar_senha.errors %}
                  <div class="error">
                    {% for erro in form.confirmar_senha.errors %}
                      <div>{{ erro }}</div>
                    {% endfor %}
                  </div>
                {% endif %}
            </div>

            {% if form.non_field_errors %}
              <div class="error general-errors">
                {% for erro in form.non_field_errors %}
                  <div>{{ erro }}</div>
                {% endfor %}
              </div>
            {% endif %}
            
            {% if messages %}
              {% for message in messages %}
                <div class="{% if message.tags == 'error' %}error{% else %}success{% endif %}">{{ message }}</div>
              {% endfor %}
            {% endif %}

            <button class="btn-login" type="submit">Alterar Senha</button>
        </form>
    </div>
</div>
{% endblock content %}