{% extends 'base.html' %}

{% block content %}
{% if messages %}
<script>
    {% for message in messages %}
        alert("{{ message|escapejs }}");
    {% endfor %}
</script> 
{% endif %}
<div class="estoque-container">
    <h2 class="titulo">Lançamento de Saída</h2>

    <!-- Formulário -->
    <form method="post">
        {% csrf_token %}
        <table class="tabela-estoque">
            <thead class="table-light">
                <tr>
                    <th>Nome / Descrição</th>
                    <th>Estoque Atual</th>
                    <th>Qtd Retirada</th>
                    <th>Unidade</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                <tr>
                    <td>{{ produto.nome }}<br><small>{{ produto.descricao|default:"Sem descrição" }}</small></td>
                    <td><strong>{{ produto.quantidade }}</strong></td>
                    <td>
                        <input type="number" name="quantidade_{{ produto.id }}" min="0" value="0" style="width: 80px;">
                    </td>
                    <td>{{ produto.unidade }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="botoes">
        <button type="submit" class="btn-confirmar">Confirmar</button>
        </div>
    </form>

    <!-- Botões de navegação -->
    <div class="botoes">
        <a href="{% url 'relatorio_estoque' %}" class="btn">Relatório de Estoque</a>
        <a href="{% url 'relatorio_entrada' %}" class="btn">Lançamento de Entrada</a>
        <a href="{% url 'relatorio_saida' %}" class="btn ativo">Lançamento de Saída</a>
        <a href="{% url 'relatorio_movimentacao_saida' %}" class="btn">Ver Histórico</a>
    </div>
</div>
{% endblock %}