{% extends "base.html" %}

{% block content %}
<div class="estoque-container" style="max-width: 95%; width: 95%; margin: 20px auto 0 auto;">
    <h2 class="titulo">Relatório de Movimentações - Entrada</h2>

    <table class="tabela-estoque">
        <thead>
            <tr>
                <th>Data/Hora</th>
                <th>Fornecedor</th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            {% for mov in movimentacoes %}
            <tr>
                <td>{{ mov.data_hora|date:"d/m/Y H:i" }}</td>
                <td>{{ mov.produto.fornecedor.nome }}</td>
                <td>{{ mov.produto.nome }}</td>
                <td>{{ mov.quantidade }}</td>
                <td>R$ {{ mov.produto.preco }}</td>
            </tr>
            {% empty %}
            <tr><td colspan="5">Nenhuma movimentação de entrada registrada</td></tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="botoes">
        <a href="{% url 'relatorio_entrada' %}" class="btn">Voltar para Lançamento ⤴</a>
        <a href="{% url 'relatorio_movimentacao_saida' %}" class="btn">Ver Saídas</a>
    </div>
</div>

<style>
.estoque-container {
    border-radius: 30px 30px 30px 30px !important;
}
</style>
{% endblock %}