{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="sobre-nos-container">
    <img src="{% static 'images/sobrenois.png' %}" alt="Imagem sobre Nós" class="sobre-nos-imagem">
    <div class="sobre-nos-texto">
        <div class="titulo_s">
            <h1>Sobre Nós</h1>
        </div>
        <h2>Soluções inteligentes para o controle de insumos em saúde.</h2>
        <p>Unimos tecnologia, segurança e eficiência para garantir a gestão completa de estoques, validade, orçamentos e notas fiscais reduzindo desperdícios e fortalecendo a tomada de decisão. Tudo em uma plataforma prática, integrada e confiável.</p>
    </div>
</div>


{% endblock %}