{% extends 'base.html' %}
{% load static %}

{% block content %}


<div>
    <div>
        <h1>Sobre Nós</h1>
        <h2>Soluções inteligentes para o controle de insumos em saúde.</h2>
        <p> Unimos tecnologia, segurança e eficiência para garantir a gestão completa de estoques, validade, orçamentos e notas fiscais reduzindo desperdícios e fortalecendo a tomada de decisão. Tudo em uma plataforma prática, integrada e confiável.</p>
    </div>
    <img src="{% static 'images/sobrenois.png' %}" alt="Imagem sobre Nós">
</div>


{% endblock %}