{% extends 'base.html' %}

{% block content %}
<div class="container">
  <section class="form-box">
    <h2 class="form-title">{{ titulo_pagina }}</h2>

    <form method="post" action="{% url 'cadastrar_produto' %}">
      {% csrf_token %}
      <div class="form-grid">
        {{ form.as_p }}
      </div>

      <div class="form-buttons">
        <a href="{% url 'lista_produtos' %}" class="btn btn-editar">Ver Produtos</a>
        <button type="submit" class="btn btn-salvar">Salvar</button>
        <a href="{% url 'fornecedores' %}" class="btn btn-voltar">Voltar</a>
      </div>

    </form>
  </section>
</div>

{% endblock %}
