{% extends 'base.html' %}

{% block content %}
<div class="lista-container">
    <h2 class="titulo">Produtos Cadastrados</h2>
    
    <ul class="lista">
        {% for p in produtos %}
            <li>{{ p.nome }} - R$ {{ p.preco }}</li>
        {% empty %}
            <li>Nenhum produto cadastrado.</li>
        {% endfor %}
    </ul>

    <!-- Corrigido para a URL correta da view de cadastro -->
    <a href="{% url 'cadastrar_produto' %}" class="btn-salvar">Novo Produto</a>
</div>
{% endblock %}
