{% extends 'base.html' %}

{% block content %}
<div class="form-container">
    <h2 class="titulo">Cadastro de Produto</h2>

    <form method="post" action="{% url 'salvar_produto' %}">
        {% csrf_token %}
        <div class="form-grid">
            {{ form.as_p }}
        </div>

        <div class="botoes">
            <button type="submit" class="btn-salvar">Salvar</button>
            <a href="{% url 'lista_produtos' %}" class="btn-cancelar">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}